<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	<title></title>
</head>
<body>
	<div>
<h1>Edit Page</h1>
<a href="/photos">Home</a>
</div>
<div>
<form method='POST' action="/photos/<%=photo._id%>?_method=PUT">
	Username: <%=photo.user.name%><br>
            Photo Url:
    <input type="text" name="photoUrl" value="<%=photo.photoUrl%>"><br>
    		Caption:
    <input type="text" name="caption" value="<%=photo.caption%>"/><br/>
    <select name="user">
		<%users.forEach(function(user){%>
		<option value="<%=user._id%>"><%=user.name%></option>
		<%})%>
	</select>

    <input type="submit" name="" value="Submit Changes"/>
</form>
</div>





</body>
</html>