<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
</head>
<body class="body">
	<div>
<h1>Photo Home Page</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photos/new">Create New Photo</a>
      </li>
    </ul>
  </div>
</nav>

</div>

<% for(let i = 0; i < photos.length; i++){ %>
	<div>
		<img src="<%=photos[i].photoUrl%>">
<% if(photos[i].caption !== ''){%><br>
	Username:<a href="/photos/<%=photos[i]._id%>"><%=photos[i].user.name%></a>
		<p class="caption">Caption: <%=photos[i].caption%></p>
		<form action="/photos/<%=photos[i]._id%>?_method=DELETE" method="POST">
			<button>Delete Photo</button>
		</form>
				</div>
	<%}%>


<div>
<form action="/photos/<%=photos[i]._id%>/edit?_method=EDIT">
<input class="button" type="submit" value="Edit">
</form>
</div>
<% } %>







</body>
</html>









