<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
</head>
<body class="body">
	<div>
<h1>Photo Home Page</h1>
<nav>
	<a href="/">Home | </a>
    <a href="/photos/new"> Create a New Destination</a>
</nav>

</div>

<% for(let i = 0; i < photos.length; i++){ %>
	<div>
		<ul class="ul">
		Username: <a href="/photos/<%=photos[i]._id%>"><%=photos[i].username%></a>
		</ul>
		<img src="<%=photos[i].photoUrl%>">
<% if(photos[i].caption !== ''){%><br>
		<p class="caption">Caption: <%=photos[i].caption%></p>
		</div>
	<%}%>

<div>
<form action="/photos/<%=photos[i]._id%>/edit?_method=EDIT">
<input class="button" type="submit" value="Edit">
</form>
</div>
<% } %>







</body>
</html>









