<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
</head>
<body>
	<div>
<a href="/photos">Home</a>
<h1>Photo Show Page</h1>
</div>
<div

Username: <%=photo.username%><br>

<img src="<%=photo.photoUrl%>"><br>

<% if(photo.caption !== ''){%>
		Caption: <%=photo.caption%>
	<%}%>
</div>
<div>
<form action="/photos/<%=photo._id%>?_method=DELETE" method="POST">
	<input type="submit" value="Delete Post"/>
</form>
<form action="/photos/<%=photo._id%>/edit?_method=EDIT">
<input type="submit" value="Edit">
</form>
</div>




</body>
</html>